h1 {
    text-align: center;
}

.square {
    height: 80px;
    width: 60px;
    border: 2px solid black;
    background-color: #1a9988;
    margin: 5px;
}

#letter-row-one,#letter-row-two, #letter-row-three, #letter-row-four, .spin-wheel {
    display: flex;
    justify-content: center;
}

.status {
    display: flex;
    justify-content: center;
}

#spin-status {
    width: 500px;
    height: 80px;
    border: 2px solid black;
    margin: 5px;
    text-align: center;

}


#status-bar {
    width: 500px;
    height: 80px;
    border: 2px solid black;
    margin: 5px;
}

.scoreboard {
    display: flex;
    justify-content: center;
}

.player-two-scoreboard, .player-one-scoreboard {
    width: 250px;
    height: 80px;
    border: 2px solid black;
}

#play-button {
    background-color: #FF9A53;
    border: none;
    display: block;
    margin: 20px auto;
    height: 50px;
    width: 100px;
}

.alphabets {
    display: flex;
    justify-content: center;
    
}

.letters {
    font-size: 50px;
    padding: 5px;
}